
img{
    max-width: 800px;
}

@media screen and (max-width: 790px){
    img{
        max-width: 400px;
    }

}

@media screen and (min-width: 300px){
    img{
        max-width: 300px;
    }
}